TOKEN = enter_the_actual_token_here_i_cant_because_this_file_is_open_to_public
CHANNELID = enter_the_channel_id_of_channel_where_you_want_roles_reaction_add_feature_also_keep_this_channel_restricted_for_user_messages_and_only_allow_them_to_react_to_msg_sent_here_by_bot